<div id="alerts" class="alerts"></div>
<header class="page">
  <div class="patterns"></div>
  <div class="container content">
    <div class="row">
      <div class="span10 offset1">
        <h4>Js - DataTable</h4>
      </div>
    </div>
  </div>
</header>
<div class="container container-box">
  <div class="row">
    <div class="span10 offset1">
      <div class="box">
        <p>DataTable object is to generate rich application tables. It allows you to generate ordinations, right-click
          button, among other features. Below we describe in detail all the features of each of the modules
          "Lol.Datatable" for details pedios to read the features of the library used for creating DataTables this
          <%= link_to :link, js_datatables_path %>.</p>
        <p><strong>Requirements:</strong></p>
        <ul>
          <li>core</li>
          <li>library_jquery_dataTables_min</li>
        </ul>

        <div class="example">
          <div class="title">
            example
          </div>
          <div class="content">
            <table id="lol-datatable" data-datatable-model-name="User">
              <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
              </thead>
              <tbody>
              <tr
              data-datatable-link="http://welington.zaez.net/"
              data-datatable-edit-link="#edit_my_page_ws"
              data-datatable-view-link="#view_my_page_ws"
              data-datatable-delete-link="#delete_my_page_ws"
              data-datatable-model-id="1">
                <td>1</td>
                <td>Welington</td>
                <td>Sampaio</td>
              </tr>
              <tr
              data-datatable-link="http://fabricio.zaez.net/"
              data-datatable-edit-link="#edit_my_page_fm"
              data-datatable-view-link="#view_my_page_fm"
              data-datatable-delete-link="#delete_my_page_fm"
              data-datatable-model-id="2">
                <td>2</td>
                <td>Fabricio</td>
                <td>Monte</td>
              </tr>
              </tbody>
            </table>
          </div>
          <%= content_for :footer do %>
            <script type="text/javascript">
              jQuery(document).ready(function(){
                var dom_table;
                dom_table = jQuery("#lol-datatable");
                new Lol.Datatable({target:dom_table});
              });
            </script>
          <% end %>
        </div>

        <div class="example">
          <div class="title">
            code
          </div>
          <div class="content">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#example-1-html" data-toggle="tab">Html</a></li>
              <li><a href="#example-1-js" data-toggle="tab">JS</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="example-1-html">
                <pre class="prettyprint lang-html linenums"><%= %`<table id="lol-datatable" data-datatable-model-name="User">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr
    data-datatable-link="http://welington.zaez.net/"
    data-datatable-edit-link="#edit_my_page_ws"
    data-datatable-view-link="#view_my_page_ws"
    data-datatable-delete-link="#delete_my_page_ws"
    data-datatable-model-id="1">
      <td>1</td>
      <td>Welington</td>
      <td>Sampaio</td>
    </tr>
    <tr
    data-datatable-link="http://fabricio.zaez.net/"
    data-datatable-edit-link="#edit_my_page_fm"
    data-datatable-view-link="#view_my_page_fm"
    data-datatable-delete-link="#delete_my_page_fm"
    data-datatable-model-id="2">
      <td>2</td>
      <td>Fabricio</td>
      <td>Monte</td>
    </tr>
  </tbody>
</table>` %></pre>
              </div>
              <div class="tab-pane" id="example-1-js">
                <pre class="prettyprint lang-js linenums"><%= %`jQuery(document).ready(function(){
  var dom_table;
  dom_table = jQuery("#lol-datatable");
  new Lol.Datatable({
    target:dom_table
  });
});` %></pre>
              </div>
            </div>
          </div>
        </div>

        <p>&nbsp;</p>
        <p>It allowed the automatic instantiation of the table through the attribute "given" through the following
          syntax <code>data-lol-datatable="true"</code></p>

        <div class="example">
          <div class="title">
            example
          </div>
          <div class="content">
            <table data-lol-datatable="true" data-datatable-model-name="User">
              <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
              </thead>
              <tbody>
              <tr
              data-datatable-link="http://welington.zaez.net/"
              data-datatable-edit-link="#edit_my_page_ws"
              data-datatable-view-link="#view_my_page_ws"
              data-datatable-delete-link="#delete_my_page_ws"
              data-datatable-model-id="1">
                <td>1</td>
                <td>Welington</td>
                <td>Sampaio</td>
              </tr>
              <tr
              data-datatable-link="http://fabricio.zaez.net/"
              data-datatable-edit-link="#edit_my_page_fm"
              data-datatable-view-link="#view_my_page_fm"
              data-datatable-delete-link="#delete_my_page_fm"
              data-datatable-model-id="2">
                <td>2</td>
                <td>Fabricio</td>
                <td>Monte</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="example">
          <div class="title">
            code
          </div>
          <div class="content">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#example-2-html" data-toggle="tab">Html</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="example-2-html">
                <pre class="prettyprint lang-html linenums"><%= %`<table data-lol-datatable="true" data-datatable-model-name="User">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr
    data-datatable-link="http://welington.zaez.net/"
    data-datatable-edit-link="#edit_my_page_ws"
    data-datatable-view-link="#view_my_page_ws"
    data-datatable-delete-link="#delete_my_page_ws"
    data-datatable-model-id="1">
      <td>1</td>
      <td>Welington</td>
      <td>Sampaio</td>
    </tr>
    <tr
    data-datatable-link="http://fabricio.zaez.net/"
    data-datatable-edit-link="#edit_my_page_fm"
    data-datatable-view-link="#view_my_page_fm"
    data-datatable-delete-link="#delete_my_page_fm"
    data-datatable-model-id="2">
      <td>2</td>
      <td>Fabricio</td>
      <td>Monte</td>
    </tr>
  </tbody>
</table>` %></pre>
              </div>
            </div>
          </div>
        </div>

        <hr />
        <h4 id="all_configurations">All configurations</h4>
        <p></p>
        <pre class="prettyprint lang-js linenums"><%= %`var datatable;
datatable = new Lol.Datatable({
    debug:         false,
    selectable:    true,
    target:        null,
    delayDblclick: 0,
    classes: {
      activeRow: 'active_row'
    },
    contextMenu: {
      "delete": function(row, object) {
        //see Default Configuration
      },
      edit:     function(row, object) {
        //see Default Configuration
      },
      view:     function(row, object) {
        //see Default Configuration
      },
      iconView  : 'icon-eye-open',
      iconEdit  : 'icon-edit',
      iconDelete: 'icon-remove',
      useIcons  : true,
      model     : null
    },
    configuration: {
      aaSortingFixed : null,
      aoColumnDefs   : null,
      aoColumns      : null,
      asStripeClasses: null,
      bAutoWidth     : true,
      bDeferRender   : false,
      bDestroy       : false,
      bFilter        : false,
      bInfo          : false,
      bJQueryUI      : false,
      bLengthChange  : false,
      bPaginate      : false,
      bProcessing    : false,
      bRetrieve      : false,
      bScrollAutoCss : true,
      bScrollCollapse: false,
      bScrollInfinite: false,
      bServerSide    : false,
      bSort          : true,
      bSortCellsTop  : false,
      bSortClasses   : true,
      bStateSave     : false,
      iCookieDuration: 7200,
      iDeferLoading  : null,
      iDisplayLength : 20,
      iDisplayStart  : 0,
      iScrollLoadGap : 100,
      iTabIndex      : 0,
      sAjaxDataProp  : "aaData",
      sAjaxSource    : null,
      sCookiePrefix  : "SpryMedia_DataTables_",
      sDom           : "lfrtip",
      sPaginationType: "two_button",
      sScrollX       : "",
      sScrollXInner  : "",
      sScrollY       : "",
      sServerMethod  : "GET"
    }
  });` %></pre>

        <blockquote>
          <strong>debug</strong> (<code>Boolean</code> | Default: <code>false</code>)
          <p>Sets whether to print debug messages, such as sequences of plays and creations, to facilitate the extension
            of the code and bug fixes.</p>
        </blockquote>

        <blockquote>
          <strong>selectable</strong> (<code>Boolean</code> | Default: <code>true</code>)
          <p>Sets up the "Datatable" must set the click event on the table rows. This action adds a control class to the
            table row.</p>
        </blockquote>

        <blockquote>
          <strong>target</strong> (<code>jQuery Selector</code> | Default: <code>null</code>)
          <p>jQuery selector element to the table setting.</p>
        </blockquote>

        <blockquote>
          <strong>delayDblclick</strong> (<code>Integer</code> | Default: <code>0</code>)
          <p>Time delay the contextMenu is visible after the mouse-hover event on the object.</p>
        </blockquote>

        <blockquote>
          <strong>classes</strong> (<code>Object</code>)
          <p>Object that stores the control classes of objects of styles.</p>

          <blockquote>
            <strong>activeRow</strong> (<code>String</code> | Default: <code>active_row</code>)
            <p>Class added after the event triggering the selection line.</p>
          </blockquote>
        </blockquote>

        <blockquote>
          <strong>contextMenu</strong> (<code>Object</code>)
          <p>Contains information generation contextMenu and events, icons and other data.</p>

          <blockquote>
            <strong>delete</strong> (<code>Function</code> | Receive: <code>row</code>, <code>Datatable -> object</code>)
            <p>Every time the button is clicked the delete is triggered a call to this method. What is done in the
              process of exclusion in the database through the model. For more details on the process of exclusion see
              the full method in the "Settings Patterns"</p>
          </blockquote>

          <blockquote>
            <strong>edit</strong> (<code>Function</code> | Receive: <code>row</code>, <code>Datatable -> object</code>)
            <p>Every time the button is clicked the edit is triggered a call to this method. For more details on the
              process of exclusion see the full method in the Settings Patterns "</p>
          </blockquote>

          <blockquote>
            <strong>view</strong> (<code>Function</code> | Receive: <code>row</code>, <code>Datatable -> object</code>)
            <p>Every time the button is clicked to view is triggered a call to this method. For more details on the
              process of exclusion see the full method in the Settings Patterns "</p>
          </blockquote>

          <blockquote>
            <strong>iconView</strong> (<code>String</code> | Default: <code>icon-eye-open</code>)
            <p>If enabled the use of icons in the contextMenu is added an element "i" with the style class for the
              configuration icon. This relates to the icon button to view.</p>
          </blockquote>

          <blockquote>
            <strong>iconEdit</strong> (<code>String</code> | Default: <code>icon-edit</code>)
            <p>If enabled the use of icons in the contextMenu is added an element "i" with the style class for the
              configuration icon. This relates to the icon of the button editing.</p>
          </blockquote>

          <blockquote>
            <strong>iconDelete</strong> (<code>String</code> | Default: <code>icon-remove</code>)
            <p>If enabled the use of icons in the contextMenu is added an element "i" with the style class for the
              configuration icon. This relates to the icon of the button removal.</p>
          </blockquote>

          <blockquote>
            <strong>useIcons</strong> (<code>Boolean</code> | Default: <code>true</code>)
            <p>Sets up the "Datatable" should use the icons for better identification contextMenu or not.</p>
          </blockquote>

          <blockquote>
            <strong>model</strong> (<code>String</code> | Default: <code>null</code>)
            <p>Defines "String" from the class name of the model of communication with the backend. It can be configured
              by the attribute "given" by the syntax: "datatable-data-model-name". See the example above.</p>
          </blockquote>
        </blockquote>

        <blockquote>
          <strong>configuration</strong> (<code>Object</code>)
          <p>Settings element DataTables. For further details and functions of each element see official documentation
            plugin ( <%= link_to :link, js_datatables_path -%> ).</p>
        </blockquote>

        <hr />
        <h4 id="change_defaults">Change Default Configuration</h4>
        <p></p>
        <pre class="prettyprint linenums lang-js"><%= %`Lol.datatable = {
  defaults: {
    /*
    Sets whether to print debug messages, such as sequences
    of plays and creations, to facilitate the extension of
    the code and bug fixes.
    @type {Boolean}
    */
    debug        : false,
    /*
    Sets up the "Datatable" must set the click event
    on the table rows. This action adds a control class
    to the table row.
    @type {Boolean}
    */
    selectable   : true,
    /*
    jQuery selector element to the table setting
    @type {jQuery Selector}
    */
    target       : null,
    /*
    Time delay the contextMenu is visible after the
    mouse-hover event on the object
    @type {Integer}
    */
    delayDblclick: 0,
     /*
    Object that stores the control classes of objects
    of styles
    @type {Object}
    */
    classes: {
      /*
      Class added after the event triggering
      the selection line
      @type {String}
      */
      activeRow: 'active_row'
    },
    /*
    Contains information generation contextMenu
    and events, icons and other data
    @type {Object}
    */
    contextMenu: {
      /*
      Every time the button is clicked the delete is
      triggered a call to this method. What is done
      in the process of exclusion in the database
      through the model
      @param {jQuery Selector} row
      @param {Datatable} object
      @type {Function}
      */
      "delete": function(row, object) {
        var attrs;
        window.lol_temp_fn_model_destroy = [row, object];
        attrs = {
          "data-datatable-model-name": object.settings.contextMenu.model,
          "data-datatable-model-id": row.data(Lol.datatable["private"].dataset.modelId)
        };
        new Lol.Modal({
          buttons: 'OK_CANCEL',
          content: Lol.t('datatable_confirm_delete'),
          title: Lol.t('datatable_confirm_delete_title'),
          callbacks: {
            buttonClick: function(button, obj) {
              return obj.destroy();
            }
          },
          buttonParams: {
            attributes: {
              OK: attrs
            },
            fn: {
              OK_CLICK: function(event, obj) {
                var model;
                model = new Lol.model.reference[obj.button.data(Lol.datatable["private"].dataset.modelName)];
                model.set('id', obj.button.data(Lol.datatable["private"].dataset.modelId));
                return model.destroy(Lol.model.destroy);
              }
            }
          }
        });
        return false;
      },
      /*
      Every time the button is clicked the
      edit is triggered a call to this method
      @param {jQuery Selector} row
      @param {Datatable} object
      @type {Function}
      */
      edit: function(row, object) {
        object.debug(row.data(object.dataset.editLink));
        window.location = row.data(object.dataset.editLink);
        return false;
      },
      /*
      Every time the button is clicked the
      view is triggered a call to this method
      @param {jQuery Selector} row
      @param {Datatable} object
      @type {Function}
      */
      view: function(row, object) {
        window.location = row.data(object.dataset.viewLink);
        return false;
      },
      /*
      If enabled the use of icons in the contextMenu
      is added an element "i" with the style class
      for the configuration icon. This relates to the
      icon button to view.
      @type {String}
      */
      iconView  : 'icon-eye-open',
      /*
      If enabled the use of icons in the contextMenu
      is added an element "i" with the style class
      for the configuration icon. This relates to the
      icon of the button editing.
      @type {String}
      */
      iconEdit  : ' icon-edit',
      /*
      If enabled the use of icons in the contextMenu
      is added an element "i" with the style class
      for the configuration icon. This relates to the
      icon of the button removal.
      @type {String}
      */
      iconDelete: 'icon-remove',
      /*
      Sets up the "Datatable" should use the icons for
      better identification contextMenu or not.
      @type {Boolean}
      */
      useIcons  : true,
      /*
      Defines "String" from the class name of the model
      of communication with the backend. It can be
      configured by the attribute "given" by the syntax:
      "datatable-data-model-name". See the example above.
      @type {String}
      */
      model     : null
    },
    /*
    Settings element DataTables. For further details
    and functions of each element see official
    documentation plugin
    @see http://datatables.net/
    @type {Object}
    */
    configuration: {
      aaSortingFixed : null,
      aoColumnDefs   : null,
      aoColumns      : null,
      asStripeClasses: null,
      bAutoWidth     : true,
      bDeferRender   : false,
      bDestroy       : false,
      bFilter        : false,
      bInfo          : false,
      bJQueryUI      : false,
      bLengthChange  : false,
      bPaginate      : false,
      bProcessing    : false,
      bRetrieve      : false,
      bScrollAutoCss : true,
      bScrollCollapse: false,
      bScrollInfinite: false,
      bServerSide    : false,
      bSort          : true,
      bSortCellsTop  : false,
      bSortClasses   : true,
      bStateSave     : false,
      iCookieDuration: 7200,
      iDeferLoading  : null,
      iDisplayLength : 20,
      iDisplayStart  : 0,
      iScrollLoadGap : 100,
      iTabIndex      : 0,
      sAjaxDataProp  : "aaData",
      sAjaxSource    : null,
      sCookiePrefix  : "SpryMedia_DataTables_",
      sDom           : "lfrtip",
      sPaginationType: "two_button",
      sScrollX       : "",
      sScrollXInner  : "",
      sScrollY       : "",
      sServerMethod  : "GET"
    }
  }
};` %></pre>
      </div>
    </div>
  </div>
</div>
