  <nav>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path %>">lol framework</a>

          <div class="nav-collapse navbar-responsive-collapse collapse">
            <ul class="nav">
              <li>
                <a href="<%= page_get_started_path %>">Get started</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Base CSS
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li class="nav-header">Libraries</li>
                  <li><a href="<%= css_bootstrap_path %>">Twitter Bootstrap</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Resources</li>
                  <li><a href="<%= css_alert_path %>">Alert</a></li>
                  <li><a href="<%= css_datatable_path %>">Datatable</a></li>
                  <li><a href="<%= css_loader_path %>">Loader</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Javascripts
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li class="nav-header">Libraries</li>
                  <li><a href="<%= js_jquery_path %>">jQuery</a></li>
                  <li><a href="<%= js_backbonejs_path %>">Backbone.js</a></li>
                  <li><a href="<%= js_bootstrap_path %>">Bootstrap</a></li>
                  <li><a href="<%= js_datatables_path %>">Datatable</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Resources</li>
                  <li><a href="<%= js_ajax_path %>">Ajax</a></li>
                  <li><a href="<%= js_alert_path %>">Alert</a></li>
                  <li><a href="<%= js_button_path %>">Button</a></li>
                  <li><a href="<%= js_core_path %>">Core</a></li>
                  <li><a href="<%= js_datatable_path %>">Datatable</a></li>
                  <li><a href="<%= js_date_path %>">Date</a></li>
                  <li><a href="<%= js_debug_path %>">Debug</a></li>
                  <li><a href="<%= js_i18n_path %>">I18n</a></li>
                  <li><a href="<%= js_loader_path %>">Loader</a></li>
                  <li><a href="<%= js_modal_path %>">Modal</a></li>
                  <li><a href="<%= js_utils_path %>">Utils</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>