<!DOCTYPE html>
<html class="lol">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LolFramework</title>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= image_path("ico/apple-icon-144.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_path("ico/apple-icon-114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_path("ico/apple-icon-72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= image_path("ico/apple-icon-57.png") %>">
  <link rel="shortcut icon" href="<%= image_path("ico/favicon.png") %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="prettyPrint();">
  <%= render "layouts/navigation" %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  <%= yield :footer %>
</body>
</html>
